PORT=3000

# MySQL Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=eco_share_db
DB_USER=root
DB_PASSWORD=
DB_SYNC=true

# Auth Configuration
JWT_SECRET=rahasia_uts_ecoshare
JWT_EXPIRES_IN=2h

# End of file
